<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mama Motor Parts</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet" />
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
</head>

<body>
    <!-- header section starts -->
    <div class="topHead">
        <div class="headTitle">
            <div class="mama-logo">
                <img class="mama-logo-img" src="./img/garage-white.png" alt="" />
            </div>
            <div class="upper">
                <div class="upper-part">
                    <div class="contact contact-1">Manigram Branch, 980269972</div>
                    <div class="contact">Milanchowk Branch, 980269972</div>
                </div>
                <div class="lower-part">
                    <header>
                        <nav class="org_navbar" id="myNav">
                            <a href="#"><span class="header_items hover-underline-animation">Home</span></a>
                            <a href="#"><span class="header_items hover-underline-animation">About Us</span></a>
                            <a href="#"><span class="header_items hover-underline-animation">Our Team</span></a>
                            <a href="#"><span class="header_items hover-underline-animation">Sale</span></a>
                            <a href="#"><span class="header_items hover-underline-animation">Accessories</span></a>
                            <a href="#"><span class="header_items hover-underline-animation">Contact Us</span></a>
                        </nav>
                        <div class="icons">
                            <i class="fas fa-bars" id="menu"></i>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>
    <!-- header section ends -->

    <!-- bgimage content starts -->
    <div class="bgimage">
        <img src="../img/bikerepair.jpg" alt="" />
        <div class="centered">
            Welcome to
            <span style="color: red; display: inline">Mama Motor Parts</span>
            <br />
            Your
            <span>One-Stop</span>
            Motorcycle Garage<br />
            <button type="submit">
                <a href="#" style="text-decoration: none; color: #ffffff">LETS GO</a>
            </button>
        </div>
    </div>
    <!-- bgimage content ends -->

    <!-- our service starts -->
    <div class="our-service">
        <div class="service-heading">
            <p>OUR SERVICES</p>
        </div>
        <div class="service-card">
            <div class="card">
                <a href="#">
                    <img src="./img/services/service.png" alt="Avatar" style="width: 100%" />
                    <div class="service-name">Servicing & Maintainance</div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="./img/services/helmet.png" alt="Avatar" style="width: 100%" />
                    <div class="service-name">Helmet House</div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="./img/services/service.png" alt="Avatar" style="width: 100%" />
                    <div class="service-name">
                        Parts & <br />
                        Accessories
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="#">
                    <img src="./img/services/service.png" alt="Avatar" style="width: 100%" />
                    <div class="service-name">Customization</div>
                </a>
            </div>
        </div>
    </div>
    <!-- our service ends -->

    <!-- why-Us starts -->
    <div class="why-us">
        <div class="whyUs-heading">
            <p>WHY US ?</p>
        </div>
        <div class="whyUs-card">
            <div class="wcard">
                <a href="#">
                    <div class="wcard-heading">
                        <div class="wcard-img">
                            <img src="./img/maintenance.png" alt="" />
                        </div>
                        <div class="wcard-title">
                            Well Maintained Fleet
                        </div>
                    </div>
                    <div class="content-wrapper">
                        <div class="content">
                            Embark on your adventure with confidence, knowing that our fleet
                            comprises a wide range of meticulously maintained motorbikes.
                            From sleek street bikes to rugged off-road machines, we have the
                            perfect ride to match your preferences and skill level. Our
                            dedication to regular maintenance ensures that you'll have a
                            safe and reliable experience every time.
                        </div>
                    </div>
                </a>
            </div>
            <div class="wcard">
                <a href="#">
                    <div class="wcard-heading">
                        <div class="wcard-img">
                            <img src="./img/safetyCare.png" alt="" />
                        </div>
                        <div class="wcard-title">
                            Safety First
                        </div>
                    </div>
                    <div class="content-wrapper">
                        <div class="content">
                            Your safety is our top priority. All our motorbikes undergo
                            rigorous inspections before and after each rental, and we equip
                            you with the necessary safety gear to ensure a secure journey.
                            Additionally, our team is available to provide you with safety
                            tips, riding guidelines, and emergency support throughout your
                            rental period.
                        </div>
                    </div>
                </a>
            </div>
            <div class="wcard">
                <a href="#">
                    <div class="wcard-heading">
                        <div class="wcard-img">
                            <img src="./img/review.png" alt="" />
                        </div>
                        <div class="wcard-title">
                            Good Customer Reviews
                        </div>
                    </div>
                    <div class="content-wrapper">
                        <div class="content">
                            Embark on your adventure with confidence, knowing that our fleet
                            comprises a wide range of meticulously maintained motorbikes.
                            From sleek street bikes to rugged off-road machines, we have the
                            perfect ride to match your preferences and skill level. Our
                            dedication to regular maintenance ensures that you'll have a
                            safe and reliable experience every time.
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- why-Us ends -->

    <!-- customer review section starts -->
    <div class="customer-review">
        <div class="customer-heading">
            <p>WHAT CUSTOMERS SAY ABOUT US</p>
        </div>
        <div class="review-message">
            <div class="customer-image">
                <img class="cimage" src="./img/samundra.jpg" alt="">
            </div>
            <div class="customer-info">
                <p class="cname">Samundra Bhari</p>
                <p class="customer-message">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Rem dignissimos repellat numquam quam sed blanditiis debitis quod,
                    ab molestias! Soluta, quae nam! Reprehenderit magnam voluptatum nam quibusdam
                    officiis eos autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae explicabo,
                    nam optio nesciunt sapiente omnis quos laboriosam
                    odit similique quisquam ducimus, laborum exercitationem numquam provident accusantium quidem modi
                    dolor amet.</p>
            </div>
        </div>
    </div>
    <!-- customer review section ends -->

    <!-- location section starts -->
    <div class="location">
        <div class="location-heading">
            <p class="loc">FIND OUR LOCATION</p>

            <button class="manigram-loc" onclick="showMap('manigram-map')" type="submit">
                <a style="text-decoration: none; color: #ffffff">MANIGRAM BRANCH</a>
            </button>
            <button class="milanchowk-loc" onclick="showMap('milanchowk-map')" type="submit">
                <a style="text-decoration: none; color: #ffffff">MILANCHOWK BRANCH</a>
            </button>
        </div>

        <div id="manigram-map" class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113114.22692631646!2d83.38949582181188!3d27.630103573590734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3996856c4301e593%3A0x6409bfbf65077290!2sMAMA%20Garage!5e0!3m2!1sen!2snp!4v1696223605036!5m2!1sen!2snp"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!-- Replace this with the actual map or iframe for Manigram Branch -->
        </div>

        <div id="milanchowk-map" class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113114.22692631646!2d83.38949582181188!3d27.630103573590734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399687cb41d416f7%3A0x66344d39a2a604c3!2sMama%20Garage%20%26%20Recondition!5e0!3m2!1sen!2snp!4v1696223672847!5m2!1sen!2snp"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
    <script>
        showMap('manigram-map');

        function showMap(mapId) {
            // Hide all map containers
            var mapContainers = document.querySelectorAll(".map-container");
            mapContainers.forEach(function (container) {
                container.style.display = "none";
            });

            // Show the selected map container
            var selectedMap = document.getElementById(mapId);
            selectedMap.style.display = "block";

            // Update the active button styling
            var buttons = document.querySelectorAll("button[data-map]");
            buttons.forEach(function (button) {
                button.classList.remove("active");
            });
            var activeButton = document.querySelector(`button[data-map="${mapId}"]`);
            activeButton.classList.add("active");
        }
    </script>
    <!-- location section ends -->

    <script type="text/javascript">
        let menu = document.querySelector("#menu");
        let navbar = document.querySelector(".org_navbar");
        let headerItems = document.querySelectorAll(".header_items");

        menu.onclick = () => {
            menu.classList.toggle("fa-times");
            navbar.classList.toggle("active");
        };

        headerItems.forEach((item) => {
            item.onclick = () => {
                menu.classList.toggle("fa-times");
                navbar.classList.toggle("active");
            };
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
</body>

</html>