<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mama Motor Parts</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <!-- header section starts -->
        <div class="header">
            <img  class="mama-logo"src="./img/garage-white.png" alt="">
            <div class="upper-part">
                <div class="manigram-branch">
                    <!-- <i class="fa fa-location-check" style="color: #ff0000;"></i> -->
                    <p class="manigram">Manigram, Tilottama, Rupandehi</p>
                    <p class="seperator">|</p>
                    <p class="manigram-contact">9802699771, 980269972</p>
                </div>
                <div class="butwal-branch">
                    <!-- <i class="fa fa-location-check" style="color: #ff0000;"></i> -->
                    <p class="butwal">Milanchowk, Butwal, Rupandehi</p>
                    <p class="seperator">|</p>
                    <p class="butwal-contact">9802699771, 980269972</p>
                </div>
            </div>
            <div class="lower-part">
                <nav class="navbar">
                    <a href="#">HOME</a>
                    <a href="#">ABOUT US</a>
                    <a href="#">OUR TEAM</a>
                    <a href="#">SALE</a>
                    <a href="#">ACCESSORIES</a>
                    <a href="#">CONTACT US</a>
                </nav>
            </div>
            
        </div>
    <!-- header section ends -->
</body>
</html>