<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mama Motor Parts</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <!-- header section starts -->
    <div class="topHead">
        <div class="headTitle">
            <img  class="mama-logo"src="./img/garage-white.png" alt="">  
            <div class="upper-part">
                
                    <div class="manigram-branch">
                        <p class="manigram">Manigram, Tilottama, Rupandehi</p>
                        <p class="contact">9802699771, 980269972</p>
                    </div>
                    <div class="butwal-branch">
                        <p class="butwal">Milanchowk, Butwal, Rupandehi</p>
                        <p class="contact">9802699771, 980269972</p>
                    </div>
                
                
            </div>  
            <header>
                <nav class="navbar">
                  <a href="#">HOME</a>
                          <a href="#">ABOUT US</a>
                          <a href="#">OUR TEAM</a>
                          <a href="#">SALE</a>
                          <a href="#">ACCESSORIES</a>
                          <a href="#">CONTACT US</a>
                </nav>      
              </header>    
        </div>
    </div>
    <!-- header section ends -->
    <div class="bgimage">
        <img src="../img/bikerepair.jpg" alt="">
        <div class="centered">
            Welcome to <p style="color: red; display: inline;">Mama Motor Parts</p><br>
            Your
            <p style="color: red;">One-Stop</p>
            Motorcycle Garage<br>
            <button type="submit" style="border-radius:10px;background-color: red;color: white; width: 100px;height: 50px; margin-top: 10%;"><a href="#" style="text-decoration: none;color: #ffffff;"><span>Lets Go</span></a></button>
            
        </div>
    </div>
</body>
</html>