@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400&display=swap');

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-anton: 'Anton', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

* {
  /* font-family: 'Roboto', sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: var(--font-poppins);

}

a {
  text-decoration: none;
  /* Removes underline */
  color: inherit;
  /* Inherits the text color from the parent */
  background-color: transparent;
  /* Removes any background color */
  border: none;
  /* Removes any borders */
  cursor: pointer;
  /* Changes the cursor to a pointer on hover (optional) */
  color: inherit;
}


.bgimage {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: 100vh;
  background-image: url('../img/bikerepair.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.bgimage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  /* You can adjust the background color and opacity here */
}

.bgimage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/bikerepair.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.4);
  /* Adjust the brightness value as needed */
}

.centered {
  position: relative;
  z-index: 1;
}

/* Rest of your existing styles for .centered and .button */



.centered {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 400;
  font-size: 4.5rem;
  font-family: var(--font-anton);
  flex-direction: column;
  width: 100%;
  align-content: center;
}


.centered span {
  font-size: 4.5rem;
  font-family: var(--font-anton);
  color: rgb(253, 3, 3);
}

.centered .button {
  border-radius: 10px;
  background-color: red;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 0rem 3rem;
}

.centered .button a {
  font-family: var(--font-anton);
  font-size: 2.5rem;
  font-weight: 400;
}

/* customer-review css */

.testimonial-swiper {
  background-color: #000;
  background-color: #000;
  padding: 3rem 6rem;
}

.testimonial-swiper .testimonial-heading {
  color: #fff;
  font-family: var(--font-poppins);
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}

.swiper {
  width: 600px;
  height: 300px;
}

.customer-review {
  background-color: black;
  color: #ffffff;
  text-align: center;
}

.customer-heading {
  font-size: 30px;
  padding-top: 2%;
  font-family: 'Poppins', sans-serif;
}

.review-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #ccc;
  color: #000;
  padding: 0rem 2rem;
  margin-top: 2%;

}

.customer-image {
  flex: 1;
  padding-right: 20px;
  /* Add spacing between image and info */
}

.cimage {
  /* border-radius: 50%; */
  border-radius: 30rem;
  left: 25px;
  /* object-fit: cover;
  position: absolute; */
  top: 50px;
  vertical-align: top;
  width: 20rem;
}

.customer-info {
  flex: 2;

}

.cname {
  font-weight: bold;
  color: red;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  float: left;
}

.customer-message {
  text-align: justify;
  float: left;
}

@media (max-width:900px) {

  .cimage {
    max-width: 40%;
  }

  .testimonial-swiper {
    padding: 2rem 1rem;
  }

  .testimonial-swiper .testimonial-heading {

    font-size: 2rem;

  }

}


/* location-section css */
.location {
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding-top: 2%
}

.location-heading {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
}

.loc {
  font-size: 3rem;
  /* padding-top: 2%; */
  font-family: 'Poppins', sans-serif;
  display: inline;
  float: left;
}

.manigram-loc {
  border-radius: 10px;
  background-color: red;
  color: white;
  width: 200px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;

}

.milanchowk-loc {
  border-radius: 10px;
  background-color: red;
  color: white;
  width: 200px;
  height: 50px;
  /* margin-top: 10%; */
}

.map-container {
  margin-top: 2%;
}


@media (max-width: 768px) {
  .review-message {
    flex-direction: column;
    text-align: center;
  }

  .customer-image,
  .customer-info {
    flex: 1;
    padding: 0;
    text-align: center;
  }

  .manigram-loc {
    margin-bottom: 10px;
  }
}


/* footer css */
.container-footer {
  flex-grow: 1
}

.footerFlex {
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
}


.footer-clean {
  padding: 50px 0;
  background-color: red;
  color: #000;
  text-align: center;
}

.footer_column {
  text-align: left;
  display: inline;
}

.section_heading {
  font-size: 2rem;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer-clean ul {
  padding: 1px;
  list-style: none;
  line-height: 1.6;
  font-size: 1.5rem;
  margin-bottom: 0;
  color: #000;
}

.footer-clean ul li span {
  color: #000;
  margin-left: 2rem;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 2rem;


  /* opacity:0.8; */
}

.footer-clean ul li a .line {
  border-bottom: 2px solid #000;
  height: 20px;
  background-color: #000;

}

/* text pops up when icon is in hover state */

.footerSocial_icons:hover span {
  /* bottom:50px; */
  visibility: visible;
  opacity: 1;
  left: 60px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width:767px) {
  .footer-clean .item {
    /* text-align: center; */
    padding-bottom: 20px;

  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .copyright {
  /* margin-top:14px; */
  margin: 10px 0px;
  padding: 10px 0px;
  font-size: 1.2rem;
  /* background-color: #7f7f7f; */
  color: #00bef2;
  background-color: #fff;
  bottom: -10px;
  position: fixed;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.25);
  /* opacity:0.6; */
}

@media (max-width: 1050px) {
  .footer-clean .copyright {
    bottom: 0px;
  }

}