@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400&display=swap');

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-anton: 'Anton', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

* {
  /* font-family: 'Roboto', sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: var(--font-poppins);

}

.bgimage {
  position: relative;
  text-align: center;
  color: white;
}

.bgimage img {
  width: 100%;
  height: 100vh;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 4.5rem;
  font-family: var(--font-anton);
}

.centered span {
  font-size: 4.5rem;
  font-family: var(--font-anton);
  color: red;
}

.centered button {
  border-radius: 10px;
  background-color: red;
  color: white;
  width: 100px;
  height: 50px;
  margin-top: 10%;
}

.centered button a {
  font-family: var(--font-anton);
  font-size: 2.5rem;
  font-weight: 400;
}

/* our service css */
.our-service {
  margin-top: -1%;
  background-color: black;
  color: #ffffff;
  text-align: center;
}

.service-heading {
  /* font-family: 'Poppins', sans-serif; */
  font-size: 30px;
  padding-top: 2%;
}

.service-heading p {
  font-family: var(--font-anton);
  font-weight: 400;
  font-size: 4rem
}

.service-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.service-card .card {
  height: 289px;
  width: 250px;
  object-fit: cover;
  border: 2px solid red;
  border-radius: 25px;
  margin: 2rem 2rem;
}

.service-card .card a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

/* .service-card .card:hover {
  border: 3px solid white;
  border-radius: 25px;
  margin: 2rem 2rem;
  color: #ffffff;
}

.service-card .card:hover a {
  color: #ffffff;
}

 .service-card .card:hover img {
  width: 100%;
  height: 25rem;
  padding: 1rem;
  border-radius: 25px;
} */

.service-card .card img {
  width: 100%;
  height: 185px;
  padding: 2rem;
}

.service-card .card .service-name {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  background-color: white;
  height: 92px;
  overflow-y: hidden;
  color: black;
  border-radius: 0px 0px 25px 25px;
}

@media (max-width: 900px) {

  .service-card {
    align-items: center;
  }

}

/* why-Us css */
.why-us {
  background-color: black;
  color: #ffffff;
  text-align: center;
}

.whyUs-heading {
  font-size: 30px;
  padding-top: 2%;
  font-family: 'Poppins', sans-serif;
}

.why-us .whyUs-heading p {
  font-family: var(--font-anton);
  font-size: 4rem;
  font-weight: 400;
}

.whyUs-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.wcard {
  width: 30rem;
  object-fit: cover;
  /* border: 2px solid red; */
  border-radius: 25px;
  margin: 2rem 2rem;
  background-color: white;
}

.wcard a {
  text-decoration: none;
  color: red;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.wcard-heading {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.wcard-heading .wcard-img img {
  width: 42px;
  height: 34px;
  float: left;
  margin-left: 17px;
}

.wcard-heading .wcard-title {
  margin-left: 0.5rem;
}

.wcard .content-wrapper {
  color: black;
  padding: 20px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
}


/* customer-review css */
.customer-review {
  background-color: black;
  color: #ffffff;
  text-align: center;
}

.customer-heading {
  font-size: 30px;
  padding-top: 2%;
  font-family: 'Poppins', sans-serif;
}
.review-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #ccc;
  color: #000;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 2%;

}

.customer-image {
  flex: 1;
  padding-right: 20px;
  /* Add spacing between image and info */
}

.cimage {
  max-width: 100%;

  /* border-radius: 50%; */
  border-radius: 30rem;
  height: 33rem;
  left: 25px;
  /* object-fit: cover;
  position: absolute; */
  top: 50px;
  vertical-align: top;
  width: 32rem;
}

.customer-info {
  flex: 2;
 
}

.cname {
  font-weight: bold;
  color: red;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  float: left;
}
.customer-message{
text-align: justify;
float: left;
}
@media (max-width: 768px) {
  .review-message {
    flex-direction: column;
    text-align: center;
  }

  .customer-image,
  .customer-info {
    flex: 1;
    padding: 0;
    text-align: center;
  }
}

/* location-section css */
.location{
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding-top:2%
  
}
.loc{
  margin-left: 13%;
  font-size: 30px;
  /* padding-top: 2%; */
  font-family: 'Poppins', sans-serif;
  display: inline;
  float: left;
}
.manigram-loc{
  border-radius: 10px;
  background-color: red;
  color: white;
  width: 200px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
 
}
.milanchowk-loc{
  border-radius: 10px;
  background-color: red;
  color: white;
  width: 200px;
  height: 50px;
  /* margin-top: 10%; */
}
.map-container{
  margin-top: 2%;
}