
/* why-Us css */
.why-us {
    background-color: black;
    color: #ffffff;
    text-align: center;
  }
  
  .whyUs-heading {
    font-size: 30px;
    padding-top: 2%;
    font-family: 'Poppins', sans-serif;
  }
  
  .why-us .whyUs-heading p {
    font-family: var(--font-poppins);
    font-size: 4rem;
    font-weight: 400;
  }
  
  .whyUs-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .wcard {
    width: 30rem;
    object-fit: cover;
    /* border: 2px solid red; */
    border-radius: 25px;
    margin: 2rem 2rem;
    background-color: white;
  }
  
  .wcard a {
    text-decoration: none;
    color: red;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  
  .wcard-heading {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .wcard-heading .wcard-img img {
    width: 42px;
    height: 34px;
    float: left;
    margin-left: 17px;
  }
  
  .wcard-heading .wcard-title {
    margin-left: 0.5rem;
  }
  
  .wcard .content-wrapper {
    color: black;
    padding: 20px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
  }
  
  